In [1]:
import pandas as pd

In [12]:
df=pd.read_csv("spam.csv",)

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
x=df["Message"]
y=df["Category"]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5,random_state=50)

In [17]:
x_train

1745    Someone has conacted our dating service and en...
5542             Armand says get your ass over to epsilon
2422    Err... Cud do. I'm going to  at 8pm. I haven't...
3552                              I love you both too :-)
2923                    I've not sent it. He can send me.
                              ...
3330      Sac will score big hundred.he is set batsman:-)
70         Wah lucky man... Then can save money... Hee...
132               Dear, will call Tmorrow.pls accomodate.
2014    Great News! Call FREEFONE 08006344447 to claim...
1931                  Carry on not disturbing both of you
Name: Message, Length: 2786, dtype: object

In [18]:
y_test

3409    spam
2103     ham
2665     ham
3239     ham
1205    spam
        ...
656      ham
1652     ham
2240     ham
3202     ham
2872     ham
Name: Category, Length: 2786, dtype: object

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
nv_classfier=Pipeline([("TfIdf",TfidfVectorizer()),("naive_bayes",MultinomialNB())])
svm_clssfire=Pipeline([("TfIdf",TfidfVectorizer()),("svm",LinearSVC())])

In [23]:
nv_classfier.fit(x_train,y_train)

Pipeline(steps=[('TfIdf', TfidfVectorizer()), ('naive_bayes', MultinomialNB())])

In [24]:
prediction=nv_classfier.predict(x_test)

In [25]:
accuracy_score(y_test,prediction)

0.9519023689877961

In [26]:
nv_classfier.predict(['ham,I see the letter B on my car'])

array(['ham'], dtype='<U4')

In [27]:
svm_clssfire.fit(x_train,y_train)

Pipeline(steps=[('TfIdf', TfidfVectorizer()), ('svm', LinearSVC())])

In [28]:
prediction_svm=svm_clssfire.predict(x_test)

In [29]:
accuracy_score(y_test,prediction_svm)

0.9845656855707107

In [ ]:
svm_clssfire.predict([''])